.dad{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display:flex;
    background-color: teal;
    padding: 2em;
    flex-direction: row;
    align-items: center;
    border-radius: 2em;
}

.container img{
    height: auto;
    width: 10em;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.mini_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
    width: 20em;
    color: aliceblue;
}

.mini_container p {
    margin: 0.3em;
}

.posts {

}