#logo {
  font-style: italic;
  font-size: 30px;
}

#logo-img {
  height: 70px;
}

section {
  margin-bottom: 100px;
}

#home {
  margin-top: 100px;
}

#home img {
  display: block;
  margin: auto;
  height: 30%;
  width: 30%;
  background-color: transparent;
}

#home h2,
#home h3 {
  font-style: italic;
  font-size: 27px;
  color: rgb(12 100 120);
  text-align: center;
}
