* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  flex-basis: 100%;
  box-sizing: inherit;
  margin: 2em 4em 4em;
  border-radius: 1em;
  background-color: #bccbd3;
  padding: 1em;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-between;
  gap: 50%;
}
header a img{
  display: block;
  border-radius: 1em;
}
nav{
  display: flex;
  justify-content: space-around;
  gap: 1em;
  flex-grow: 1;
  align-items: center;
  box-sizing: inherit;
  background-color: #e1ecf2;
  border-radius: 1em;
  padding: 1em;
}

nav a {
  text-decoration: none;
  color: #5c9596;
  font-size: 1.2rem;
  box-sizing: inherit;
  font-size: 1.5em;
}

nav > img{
  height: auto;
  max-width: 10%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

nav a:hover{
  background-color: #5c9596;
  animation-duration: .50s ease;
}
