footer {
    background-color: #e0ecf1;
    color: black;
    font-weight: bolder;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  footer > p{
    margin: 0;
  }