footer {
    background-color: #e0ecf1;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    vertical-align: middle;
  }