.notification {
    width: 18.5em;
    max-height: 30em;
    display: block;
    position: absolute;
    top: 110%;
    right: 0.5%;
    border-radius: 2em;
    transition: opacity 5s;
}

.notification p {
    background-color: #d40505;
    color: azure;
    display: block;
    text-align: center;
    line-height: 1.5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1em;
    padding: 0.4em;
}